In [51]:
from faker import Faker

In [52]:
fake = Faker()

In [53]:
fake.address()

u'226 Kelly Estates Apt. 207\nEast Amyburgh, VT 02606-2429'

In [54]:
fake.ssn()

u'206-42-0175'

In [55]:
fake.city()

u'Thomasmouth'

In [56]:
fake.country()

u'Saint Barthelemy'

In [57]:
fake.zipcode()

u'33955'

In [58]:
fake.first_name()

u'Benjamin'

In [59]:
fake.last_name()

u'Fuller'

In [60]:
fake.name()

u'Jeremy Robinson'

In [61]:
LabData = "../SedimentLabData/LabData.xls"

In [40]:
import pandas as pd
import numpy as np

In [63]:
LabData = pd.ExcelFile("../SedimentLabData/LabData.xls")

dfs = {sheet_name: LabData.parse(sheet_name) 
          for sheet_name in LabData.sheet_names}

In [64]:
BG2a.head()

NameError: name 'BG2a' is not defined

In [41]:
!pwd

/c/Users/Amber/Documents/GitHub/DataSciCourse

In [52]:
LabDataWL3a = pd.read_csv("SedimentLabData/WL3a.csv")
LabDataWL3b = pd.read_csv("SedimentLabData/WL3b.csv")
LabDataWL4a = pd.read_csv("SedimentLabData/WL4a.csv")
LabDataWL5a = pd.read_csv("SedimentLabData/WL5a.csv")
LabDataWL5b = pd.read_csv("SedimentLabData/WL5b.csv")
LabDataWL5c = pd.read_csv("SedimentLabData/WL5c.csv")

In [53]:
LabDataWL3a.head()

,Num,Empty,Wet,105C,550C,1000C,BaseWeight,Water,PctWater,OrganicMatter,PctOrganic,Carbonates,PctCarbon,Ash,PctAshOxides
0,1,4.5581,5.7046,4.8539,4.6459,4.6451,1.1465,0.8507,0.741997383,0.208,0.181421718,0.0008,0.000697776,0.087,0.075883123
1,2,6.0636,6.848,6.2318,6.0916,6.09,0.7844,0.6162,0.785568587,0.1402,0.178735339,0.0016,0.002039776,0.0264,0.033656298
2,3,4.3505,4.8886,4.4667,4.3748,4.3728,0.5381,0.4219,0.784055008,0.0919,0.170786099,0.002,0.003716781,0.0223,0.041442111
3,4,4.8683,5.2294,4.9396,4.8806,4.8809,0.3611,0.2898,0.802547771,0.059,0.163389643,-0.0003,-0.000830795,0.0126,0.034893381
4,5,5.3771,5.984,5.515,5.34189,5.4194,0.6069,0.469,0.7727797,0.17311,0.285236448,-0.0775,-0.127714615,0.0423,0.069698468

In [54]:
pieces3 = [LabDataWL3a, LabDataWL3b]
WL3 = pd.concat(pieces3)
WL3.head(5)

,Num,Empty,Wet,105C,550C,1000C,BaseWeight,Water,PctWater,OrganicMatter,PctOrganic,Carbonates,PctCarbon,Ash,PctAshOxides
0,1,4.5581,5.7046,4.8539,4.6459,4.6451,1.1465,0.8507,0.741997383,0.208,0.181421718,0.0008,0.000697776,0.087,0.075883123
1,2,6.0636,6.848,6.2318,6.0916,6.09,0.7844,0.6162,0.785568587,0.1402,0.178735339,0.0016,0.002039776,0.0264,0.033656298
2,3,4.3505,4.8886,4.4667,4.3748,4.3728,0.5381,0.4219,0.784055008,0.0919,0.170786099,0.002,0.003716781,0.0223,0.041442111
3,4,4.8683,5.2294,4.9396,4.8806,4.8809,0.3611,0.2898,0.802547771,0.059,0.163389643,-0.0003,-0.000830795,0.0126,0.034893381
4,5,5.3771,5.984,5.515,5.34189,5.4194,0.6069,0.469,0.7727797,0.17311,0.285236448,-0.0775,-0.127714615,0.0423,0.069698468

In [55]:
WL4 = LabDataWL4a
WL4.head()

  Num   Empty     Wet    105C    550C   1000C  Unnamed: 6 Unnamed: 7
0   1   4.499  5.2421  4.7189  4.5181  4.5172         NaN        NaN
1   2  5.9866  6.6951  6.1841   6.004  6.0032         NaN     2-42cm
2   3  4.2969   5.241  4.5078  4.3664  4.3675         NaN        NaN
3   4   4.805   5.561   4.954  4.8146  4.8131         NaN        NaN
4   5  5.3057  6.0431   5.403  5.3168  5.3159         NaN        NaN

In [56]:
pieces5 = [LabDataWL5a, LabDataWL5b, LabDataWL5c]
WL5 = pd.concat(pieces5)
WL5.head()

  Num   Empty     Wet    105C    550C   1000C  Unnamed: 6 Unnamed: 7
0   1  4.4983  5.5914  4.6364  4.5184  4.5182         NaN        NaN
1   2   5.986  7.4326  6.1553  5.0041  6.0028         NaN     3-42cm
2   3  4.2962  6.3133   4.637  4.4221   4.419         NaN        NaN
3   4  4.8042   7.153  5.7472  5.5349  5.5314         NaN        NaN
4   5  5.3054    8.03  5.5701  6.3646  6.3491         NaN        NaN

In [57]:
import plotly.plotly as py
import plotly.graph_objs as go

In [58]:
import plotly 
plotly.tools.set_credentials_file(username='akell47', api_key='vk5wgdfotc')

py.sign_in("akell47", "vk5wgdfotc")

In [61]:
y0a = WL3.PctWater
y0b = WL3.PctOrganic
y0c = WL3.PctCarbon
y0d = WL3.PctAshOxides

A = go.Box(
    y = y0a,
    name = 'WL3 Percent Water',
    marker = dict(
        color = 'rgb(214, 12, 140)',
    )
)
B = go.Box(
    y = y0b,
    name = 'WL3 Percent Organic',
    marker = dict(
        color = 'rgb(0, 128, 128)',
    )
)
C = go.Box(
    y = y0c,
    name = 'WL3 Percent Carbonates',
    marker = dict(
        color = 'rgb(50, 30, 110)'
    )
)
D = go.Box(
    y = y0d,
    name = 'WL3 Percent Ash and Oxides',
    marker = dict(
        color = 'rgb(32, 178, 170)'
    )
)

data = [A, B, C, D]
py.iplot(data)

<iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~akell47/102.embed"></iframe>

<div>
    <a href="https://plot.ly/~akell47/102/" target="_blank" title="WL3 Percent Water, WL3 Percent Organic, WL3 Percent Carbonates, WL3 Percent Ash and Oxides" style="display: block; text-align: center;"><img src="https://plot.ly/~akell47/102.png" alt="WL3 Percent Water, WL3 Percent Organic, WL3 Percent Carbonates, WL3 Percent Ash and Oxides" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="akell47:102"  src="https://plot.ly/embed.js" async></script>
</div>

In [60]:
y0a = WL3.PctWater
y0b = WL3.PctOrganic
y0c = WL3.PctCarbon
y0d = WL3.PctAshOxides


A = go.Scatter(
    y = y0a,
    mode = 'lines+markers',
    name = 'Percent Water',
    marker = dict(
        color = 'rgb(214, 12, 140)'
    )
)
B = go.Scatter(
    y = y0b,
    mode = 'lines+markers',
    name = 'Percent Organic Matter',
    marker = dict(
        color = 'rgb(0, 128, 128)'
    )
)
C = go.Scatter(
    y= y0c,
    mode = 'lines+markers',
    name = 'Percent Carbonites',
    marker = dict(
        color = 'rgb(50, 30, 110)'
    )
)
D = go.Scatter(
    y= y0c,
    mode = 'lines+markers',
    name = 'Percent Ash and Oxides',
    marker = dict(
        color = 'rgb(32, 178, 170)'
    )
)

data = [A, B, C, D]

# py.iplot(data, filename='line-mode')
py.iplot(data)