## Fake Factory

In [51]:
from faker import Faker

In [52]:
fake = Faker()

In [53]:
fake.address()

u'226 Kelly Estates Apt. 207\nEast Amyburgh, VT 02606-2429'

In [54]:
fake.ssn()

u'206-42-0175'

In [55]:
fake.city()

u'Thomasmouth'

In [56]:
fake.country()

u'Saint Barthelemy'

In [57]:
fake.zipcode()

u'33955'

In [58]:
fake.first_name()

u'Benjamin'

In [59]:
fake.last_name()

u'Fuller'

In [60]:
fake.name()

u'Jeremy Robinson'

## Real Lab data

In [61]:
LabData = "../SedimentLabData/LabData.xls"

In [5]:
import pandas as pd
import numpy as np

In [63]:
LabData = pd.ExcelFile("../SedimentLabData/LabData.xls")

dfs = {sheet_name: LabData.parse(sheet_name) 
          for sheet_name in LabData.sheet_names}

In [64]:
BG2a.head()
# how to read excel top columns??

NameError: name 'BG2a' is not defined

In [6]:
!pwd

/c/Users/Amber/Documents/GitHub/DataSciCourse

In [23]:
LabDataWL3a = pd.read_csv("SedimentLabData/WL3a.csv")
LabDataWL3b = pd.read_csv("SedimentLabData/WL3b.csv")
LabDataWL4a = pd.read_csv("SedimentLabData/WL4a.csv")
LabDataWL5a = pd.read_csv("SedimentLabData/WL5a.csv")
LabDataWL5b = pd.read_csv("SedimentLabData/WL5b.csv")
LabDataWL5c = pd.read_csv("SedimentLabData/WL5c.csv")
# Some sheets as csvs

# WL3

In [8]:
LabDataWL3a.head()
# WL3a and WL3b - columns after 1000C calculated in excel

,Num,Empty,Wet,105C,550C,1000C,BaseWeight,Water,PctWater,OrganicMatter,PctOrganic,Carbonates,PctCarbon,Ash,PctAshOxides
0,1,4.5581,5.7046,4.8539,4.64590,4.6451,1.1465,0.8507,0.741997,0.20800,0.181422,0.0008,0.000698,0.0870,0.075883
1,2,6.0636,6.8480,6.2318,6.09160,6.0900,0.7844,0.6162,0.785569,0.14020,0.178735,0.0016,0.002040,0.0264,0.033656
2,3,4.3505,4.8886,4.4667,4.37480,4.3728,0.5381,0.4219,0.784055,0.09190,0.170786,0.0020,0.003717,0.0223,0.041442
3,4,4.8683,5.2294,4.9396,4.88060,4.8809,0.3611,0.2898,0.802548,0.05900,0.163390,-0.0003,-0.000831,0.0126,0.034893
4,5,5.3771,5.9840,5.5150,5.34189,5.4194,0.6069,0.4690,0.772780,0.17311,0.285236,-0.0775,-0.127715,0.0423,0.069698

In [11]:
LabDataWL3a.shape

(45, 15)

In [16]:
# LabDataWL3a.describe()
LabDataWL3a.dtypes

Num                int64
Empty            float64
Wet              float64
105C             float64
550C             float64
1000C            float64
BaseWeight       float64
Water            float64
PctWater         float64
OrganicMatter    float64
PctOrganic       float64
Carbonates       float64
PctCarbon        float64
Ash              float64
PctAshOxides     float64
dtype: object

In [25]:
pieces3 = [LabDataWL3a, LabDataWL3b]
WL3 = pd.concat(pieces3)
WL3.head(5)

,Num,Empty,Wet,105C,550C,1000C,BaseWeight,Water,PctWater,OrganicMatter,PctOrganic,Carbonates,PctCarbon,Ash,PctAshOxides
0,1,4.5581,5.7046,4.8539,4.64590,4.6451,1.1465,0.8507,0.741997,0.20800,0.181422,0.0008,0.000698,0.0870,0.075883
1,2,6.0636,6.8480,6.2318,6.09160,6.0900,0.7844,0.6162,0.785569,0.14020,0.178735,0.0016,0.002040,0.0264,0.033656
2,3,4.3505,4.8886,4.4667,4.37480,4.3728,0.5381,0.4219,0.784055,0.09190,0.170786,0.0020,0.003717,0.0223,0.041442
3,4,4.8683,5.2294,4.9396,4.88060,4.8809,0.3611,0.2898,0.802548,0.05900,0.163390,-0.0003,-0.000831,0.0126,0.034893
4,5,5.3771,5.9840,5.5150,5.34189,5.4194,0.6069,0.4690,0.772780,0.17311,0.285236,-0.0775,-0.127715,0.0423,0.069698

In [26]:
WL3.dtypes

Num                int64
Empty            float64
Wet              float64
105C             float64
550C             float64
1000C            float64
BaseWeight       float64
Water            float64
PctWater         float64
OrganicMatter    float64
PctOrganic       float64
Carbonates       float64
PctCarbon        float64
Ash              float64
PctAshOxides     float64
dtype: object

In [27]:
WL3.describe()

,Num,Empty,Wet,105C,550C,1000C,BaseWeight,Water,PctWater,OrganicMatter,PctOrganic,Carbonates,PctCarbon,Ash,PctAshOxides
count,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000
mean,22.752809,5.151140,7.502586,6.800545,6.676022,6.667596,2.351446,0.702041,0.400798,0.124523,0.074541,0.008427,0.007588,1.516455,0.517073
std,12.920457,0.870517,1.564191,1.527180,1.572013,1.550896,1.319628,0.310897,0.247316,0.173890,0.103719,0.162644,0.093122,1.269643,0.299693
min,1.000000,3.139800,4.675600,4.283600,4.206100,4.206100,0.348100,0.250100,0.143401,-0.936400,-0.511303,-0.998400,-0.445039,0.012600,0.033656
25%,12.000000,4.562000,6.348400,5.515000,5.341890,5.376000,1.337200,0.469400,0.189299,0.073700,0.026611,0.000700,0.000260,0.255700,0.169214
50%,23.000000,4.902500,7.359500,6.588300,6.355000,6.476000,2.281500,0.620400,0.271246,0.110900,0.068823,0.001800,0.000716,1.375400,0.655172
75%,34.000000,5.627500,8.695700,7.870900,7.803400,7.803000,3.278800,0.860300,0.706802,0.173400,0.136387,0.002500,0.001340,2.441500,0.784532
max,45.000000,7.653000,11.328500,10.729300,10.720400,10.719800,5.233800,1.828500,0.803327,1.100000,0.490327,1.111200,0.606749,4.201100,0.843802

In [28]:
# df.isnull().sum()
WL3.isnull().sum()
# count of null cells in each column!

Num              0
Empty            0
Wet              0
105C             0
550C             0
1000C            0
BaseWeight       0
Water            0
PctWater         0
OrganicMatter    0
PctOrganic       0
Carbonates       0
PctCarbon        0
Ash              0
PctAshOxides     0
dtype: int64

In [21]:
# print "GRE null indicies",np.where(df_raw['gre'].isnull())[0]
print np.where(WL3.isnull())[0]

[]

In [22]:
print np.where(WL3.Wet.isnull())[0]

[]

In [23]:
print np.where(LabDataWL3a.Wet.isnull())[0]

[]

In [13]:
print np.where(LabDataWL3b.Wet.isnull())[0]

[]

# WL4

In [25]:
WL4 = LabDataWL4a
WL4.head()

   Num   Empty     Wet    105C    550C   1000C
0    1  4.4990  5.2421  4.7189  4.5181  4.5172
1    2  5.9866  6.6951  6.1841  6.0040  6.0032
2    3  4.2969  5.2410  4.5078  4.3664  4.3675
3    4  4.8050  5.5610  4.9540  4.8146  4.8131
4    5  5.3057  6.0431  5.4030  5.3168  5.3159

Add BaseWeight Column = Empty - Wet 
 * Empty = empty crucible
 * Wet = sample of 1" sediment in crucible

In [27]:
WL4["BaseWeight"] = WL4.Empty - WL4.Wet
# want to use this again --- 
# how to write function/method to make new column BaseWeight = df.Empty - df.Wet  ??

In [35]:
WL4.head()

   Num   Empty     Wet    105C    550C   1000C  Unnamed: 6  BaseWeight
0    1  4.4990  5.2421  4.7189  4.5181  4.5172     -0.7431     -0.7431
1    2  5.9866  6.6951  6.1841  6.0040  6.0032     -0.7085     -0.7085
2    3  4.2969  5.2410  4.5078  4.3664  4.3675     -0.9441     -0.9441
3    4  4.8050  5.5610  4.9540  4.8146  4.8131     -0.7560     -0.7560
4    5  5.3057  6.0431  5.4030  5.3168  5.3159     -0.7374     -0.7374

In [36]:
# df2.drop("C", axis = 1)
WL4.drop("Unnamed: 6", axis = 1, inplace = True)

In [37]:
WL4.head()

   Num   Empty     Wet    105C    550C   1000C  BaseWeight
0    1  4.4990  5.2421  4.7189  4.5181  4.5172     -0.7431
1    2  5.9866  6.6951  6.1841  6.0040  6.0032     -0.7085
2    3  4.2969  5.2410  4.5078  4.3664  4.3675     -0.9441
3    4  4.8050  5.5610  4.9540  4.8146  4.8131     -0.7560
4    5  5.3057  6.0431  5.4030  5.3168  5.3159     -0.7374

In [38]:
WL4.dtypes

Num             int64
Empty         float64
Wet           float64
105C          float64
550C          float64
1000C         float64
BaseWeight    float64
dtype: object

# WL5

In [12]:
pieces5 = [LabDataWL5a, LabDataWL5b, LabDataWL5c]
WL5 = pd.concat(pieces5)
WL5.head()

   Num   Empty     Wet    105C    550C   1000C
0    1  4.4983  5.5914  4.6364  4.5184  4.5182
1    2  5.9860  7.4326  6.1553  5.0041  6.0028
2    3  4.2962  6.3133  4.6370  4.4221  4.4190
3    4  4.8042  7.1530  5.7472  5.5349  5.5314
4    5  5.3054  8.0300  5.5701  6.3646  6.3491

In [18]:
print "WL5a: {}".format(LabDataWL5a.shape)
print "WL5b: {}".format(LabDataWL5b.shape)
print "WL5c: {}".format(LabDataWL5c.shape)
print "(Total) WL5: {}".format(WL5.shape)

WL5a: (39, 6)
WL5b: (45, 6)
WL5c: (44, 6)
(Total) WL5: (128, 6)

In [19]:
39 + 45 + 44

128

In [21]:
print np.where(WL5.isnull())[0]

[]

###  WL5 step 1 
###### How to make a reusable function / method to subtract two columns <br/>

In [51]:
def BaseWeightfunc(WetCol, EmptyCol):
    BaseWeight = [WetCol - EmptyCol]
    return BaseWeight

In [22]:
E = WL5.Empty
W = WL5.Wet

for i, E, W in enumerate(Empty): 
    return (i, (W - E))

SyntaxError: 'return' outside function (<ipython-input-22-328aa53cad07>, line 5)

In [68]:
BaseWeightfunc(WL5.Wet, WL5.Empty)

[0     1.0931
 1     1.4466
 2     2.0171
 3     2.3488
 4     2.7246
 5     2.5925
 6     2.5820
 7     2.8266
 8     2.0579
 9     2.8150
 10    2.5474
 11    2.3540
 12    3.4800
 13    2.6714
 14    2.3096
 15    3.2266
 16    2.2817
 17    2.7451
 18    2.0303
 19    3.4444
 20    3.0000
 21    3.7281
 22    2.8262
 23    3.4561
 24    4.1131
 25    3.7865
 26    4.2442
 27    3.6993
 28    4.2912
 29    3.1193
        ...
 14    2.3764
 15    2.0555
 16    2.2915
 17    3.8743
 18    3.6905
 19    2.6389
 20    2.5685
 21    2.9441
 22    3.7960
 23    4.6746
 24    2.9730
 25    3.3482
 26    5.0882
 27    4.4311
 28    4.1432
 29    3.4484
 30    4.6157
 31    5.0816
 32    4.9735
 33    4.2805
 34    4.0856
 35    4.9999
 36    4.4638
 37    5.2683
 38    5.4454
 39    3.2393
 40    4.1155
 41    4.1521
 42    3.2628
 43    2.5918
 dtype: float64]

In [58]:
WL5.apply(BaseWeightfunc(WL5.Wet, WL5.Empty), axis = 1)

TypeError: ("'list' object is not callable", u'occurred at index 0')

In [53]:
WL5.head()

   Num   Empty     Wet    105C    550C   1000C
0    1  4.4983  5.5914  4.6364  4.5184  4.5182
1    2  5.9860  7.4326  6.1553  5.0041  6.0028
2    3  4.2962  6.3133  4.6370  4.4221  4.4190
3    4  4.8042  7.1530  5.7472  5.5349  5.5314
4    5  5.3054  8.0300  5.5701  6.3646  6.3491

# Plots!

In [40]:
import plotly.plotly as py
import plotly.graph_objs as go

In [41]:
import plotly 
plotly.tools.set_credentials_file(username='akell47', api_key='vk5wgdfotc')

py.sign_in("akell47", "vk5wgdfotc")

In [42]:
WL3.describe()

,Num,Empty,Wet,105C,550C,1000C,BaseWeight,Water,PctWater,OrganicMatter,PctOrganic,Carbonates,PctCarbon,Ash,PctAshOxides
count,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000
mean,22.752809,5.151140,7.502586,6.800545,6.676022,6.667596,2.351446,0.702041,0.400798,0.124523,0.074541,0.008427,0.007588,1.516455,0.517073
std,12.920457,0.870517,1.564191,1.527180,1.572013,1.550896,1.319628,0.310897,0.247316,0.173890,0.103719,0.162644,0.093122,1.269643,0.299693
min,1.000000,3.139800,4.675600,4.283600,4.206100,4.206100,0.348100,0.250100,0.143401,-0.936400,-0.511303,-0.998400,-0.445039,0.012600,0.033656
25%,12.000000,4.562000,6.348400,5.515000,5.341890,5.376000,1.337200,0.469400,0.189299,0.073700,0.026611,0.000700,0.000260,0.255700,0.169214
50%,23.000000,4.902500,7.359500,6.588300,6.355000,6.476000,2.281500,0.620400,0.271246,0.110900,0.068823,0.001800,0.000716,1.375400,0.655172
75%,34.000000,5.627500,8.695700,7.870900,7.803400,7.803000,3.278800,0.860300,0.706802,0.173400,0.136387,0.002500,0.001340,2.441500,0.784532
max,45.000000,7.653000,11.328500,10.729300,10.720400,10.719800,5.233800,1.828500,0.803327,1.100000,0.490327,1.111200,0.606749,4.201100,0.843802

In [43]:
y0a = WL3.PctWater
y0b = WL3.PctOrganic
y0c = WL3.PctCarbon
y0d = WL3.PctAshOxides

A = go.Box(
    y = y0a,
    name = 'WL3 Percent Water',
    marker = dict(
        color = 'rgb(214, 12, 140)',
    )
)
B = go.Box(
    y = y0b,
    name = 'WL3 Percent Organic',
    marker = dict(
        color = 'rgb(0, 128, 128)',
    )
)
C = go.Box(
    y = y0c,
    name = 'WL3 Percent Carbonates',
    marker = dict(
        color = 'rgb(50, 30, 110)'
    )
)
D = go.Box(
    y = y0d,
    name = 'WL3 Percent Ash and Oxides',
    marker = dict(
        color = 'rgb(32, 178, 170)'
    )
)

data = [A, B, C, D]
py.iplot(data)

<div>
    <a href="https://plot.ly/~akell47/102/" target="_blank" title="WL3 Percent Water, WL3 Percent Organic, WL3 Percent Carbonates, WL3 Percent Ash and Oxides" style="display: block; text-align: center;"><img src="https://plot.ly/~akell47/102.png" alt="WL3 Percent Water, WL3 Percent Organic, WL3 Percent Carbonates, WL3 Percent Ash and Oxides" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="akell47:102"  src="https://plot.ly/embed.js" async></script>
</div>

In [44]:
y0a = WL3.PctWater
y0b = WL3.PctOrganic
y0c = WL3.PctCarbon
y0d = WL3.PctAshOxides


A = go.Scatter(
    y = y0a,
    mode = 'lines+markers',
    name = 'Percent Water',
    marker = dict(
        color = 'rgb(214, 12, 140)'
    )
)
B = go.Scatter(
    y = y0b,
    mode = 'lines+markers',
    name = 'Percent Organic Matter',
    marker = dict(
        color = 'rgb(0, 128, 128)'
    )
)
C = go.Scatter(
    y= y0c,
    mode = 'lines+markers',
    name = 'Percent Carbonites',
    marker = dict(
        color = 'rgb(50, 30, 110)'
    )
)
D = go.Scatter(
    y= y0c,
    mode = 'lines+markers',
    name = 'Percent Ash and Oxides',
    marker = dict(
        color = 'rgb(32, 178, 170)'
    )
)

data = [A, B, C, D]

# py.iplot(data, filename='line-mode')
py.iplot(data)

In [45]:
WL3.head(10)

,Num,Empty,Wet,105C,550C,1000C,BaseWeight,Water,PctWater,OrganicMatter,PctOrganic,Carbonates,PctCarbon,Ash,PctAshOxides
0,1,4.5581,5.7046,4.8539,4.64590,4.6451,1.1465,0.8507,0.741997,0.20800,0.181422,0.0008,0.000698,0.0870,0.075883
1,2,6.0636,6.8480,6.2318,6.09160,6.0900,0.7844,0.6162,0.785569,0.14020,0.178735,0.0016,0.002040,0.0264,0.033656
2,3,4.3505,4.8886,4.4667,4.37480,4.3728,0.5381,0.4219,0.784055,0.09190,0.170786,0.0020,0.003717,0.0223,0.041442
3,4,4.8683,5.2294,4.9396,4.88060,4.8809,0.3611,0.2898,0.802548,0.05900,0.163390,-0.0003,-0.000831,0.0126,0.034893
4,5,5.3771,5.9840,5.5150,5.34189,5.4194,0.6069,0.4690,0.772780,0.17311,0.285236,-0.0775,-0.127715,0.0423,0.069698
5,6,5.8345,6.4319,5.9625,5.86880,5.8690,0.5974,0.4694,0.785738,0.09370,0.156846,-0.0002,-0.000335,0.0345,0.057750
6,7,4.7149,5.5440,4.9024,4.78470,4.7842,0.8291,0.6416,0.773851,0.11770,0.141961,0.0005,0.000603,0.0693,0.083585
7,8,4.9928,5.5699,5.1063,5.02170,5.0212,0.5771,0.4636,0.803327,0.08460,0.146595,0.0005,0.000866,0.0284,0.049212
8,9,4.7002,5.0483,4.7787,4.72160,4.7218,0.3481,0.2696,0.774490,0.05710,0.164033,-0.0002,-0.000575,0.0216,0.062051
9,10,5.0643,5.6096,5.1906,5.10080,5.1008,0.5453,0.4190,0.768384,0.08980,0.164680,0.0000,0.000000,0.0365,0.066936

In [46]:
WL3.describe()

,Num,Empty,Wet,105C,550C,1000C,BaseWeight,Water,PctWater,OrganicMatter,PctOrganic,Carbonates,PctCarbon,Ash,PctAshOxides
count,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000
mean,22.752809,5.151140,7.502586,6.800545,6.676022,6.667596,2.351446,0.702041,0.400798,0.124523,0.074541,0.008427,0.007588,1.516455,0.517073
std,12.920457,0.870517,1.564191,1.527180,1.572013,1.550896,1.319628,0.310897,0.247316,0.173890,0.103719,0.162644,0.093122,1.269643,0.299693
min,1.000000,3.139800,4.675600,4.283600,4.206100,4.206100,0.348100,0.250100,0.143401,-0.936400,-0.511303,-0.998400,-0.445039,0.012600,0.033656
25%,12.000000,4.562000,6.348400,5.515000,5.341890,5.376000,1.337200,0.469400,0.189299,0.073700,0.026611,0.000700,0.000260,0.255700,0.169214
50%,23.000000,4.902500,7.359500,6.588300,6.355000,6.476000,2.281500,0.620400,0.271246,0.110900,0.068823,0.001800,0.000716,1.375400,0.655172
75%,34.000000,5.627500,8.695700,7.870900,7.803400,7.803000,3.278800,0.860300,0.706802,0.173400,0.136387,0.002500,0.001340,2.441500,0.784532
max,45.000000,7.653000,11.328500,10.729300,10.720400,10.719800,5.233800,1.828500,0.803327,1.100000,0.490327,1.111200,0.606749,4.201100,0.843802

In [50]:
y0  = WL3.BaseWeight
y0a = WL3.Water
y0b = WL3.OrganicMatter
y0c = WL3.Carbonates
y0d = WL3.Ash


O = go.Scatter(
    y = y0,
    mode = 'lines+markers',
    name = 'grams BaseWeight',
    marker = dict(
        color = 'rgb(230, 100, 15)'
    )
)
A = go.Scatter(
    y = y0a,
    mode = 'lines+markers',
    name = 'grams 105C',
    marker = dict(
        color = 'rgb(214, 12, 140)'
    )
)
B = go.Scatter(
    y = y0b,
    mode = 'lines+markers',
    name = 'grams 550C',
    marker = dict(
        color = 'rgb(0, 128, 128)'
    )
)
C = go.Scatter(
    y= y0c,
    mode = 'lines+markers',
    name = 'grams 1000',
    marker = dict(
        color = 'rgb(50, 30, 110)'
    )
)
D = go.Scatter(
    y= y0c,
    mode = 'lines+markers',
    name = 'grams Remainder',
    marker = dict(
        color = 'rgb(32, 178, 170)'
    )
)

data = [O, A, B, C, D]

# py.iplot(data, filename='line-mode')
py.iplot(data)