In [51]:
from faker import Faker

In [52]:
fake = Faker()

In [53]:
fake.address()

u'226 Kelly Estates Apt. 207\nEast Amyburgh, VT 02606-2429'

In [54]:
fake.ssn()

u'206-42-0175'

In [55]:
fake.city()

u'Thomasmouth'

In [56]:
fake.country()

u'Saint Barthelemy'

In [57]:
fake.zipcode()

u'33955'

In [58]:
fake.first_name()

u'Benjamin'

In [59]:
fake.last_name()

u'Fuller'

In [60]:
fake.name()

u'Jeremy Robinson'

In [61]:
LabData = "../SedimentLabData/LabData.xls"

In [62]:
import pandas as pd
import numpy as np

In [63]:
LabData = pd.ExcelFile("../SedimentLabData/LabData.xls")

dfs = {sheet_name: LabData.parse(sheet_name) 
          for sheet_name in LabData.sheet_names}

In [64]:
BG2a.head()

NameError: name 'BG2a' is not defined

In [78]:
LabDataWL3a = pd.read_csv("../SedimentLabData/WL3a.csv")
LabDataWL3b = pd.read_csv("../SedimentLabData/WL3b.csv")
LabDataWL4a = pd.read_csv("../SedimentLabData/WL4a.csv")
LabDataWL5a = pd.read_csv("../SedimentLabData/WL5a.csv")
LabDataWL5b = pd.read_csv("../SedimentLabData/WL5b.csv")
LabDataWL5c = pd.read_csv("../SedimentLabData/WL5c.csv")

In [79]:
LabDataW3a.head()

   Num   Empty     Wet    105C     550C   1000C  Unnamed: 6 Unnamed: 7
0    1  4.5581  5.7046  4.8539  4.64590  4.6451         NaN        NaN
1    2  6.0636  6.8480  6.2318  6.09160  6.0900         NaN        NaN
2    3  4.3505  4.8886  4.4667  4.37480  4.3728         NaN     5-51cm
3    4  4.8683  5.2294  4.9396  4.88060  4.8809         NaN        NaN
4    5  5.3771  5.9840  5.5150  5.34189  5.4194         NaN        NaN

In [68]:
pieces3 = [LabDataWL3a, LabDataWL3b]
WL3 = pd.concat(pieces3)
WL3.head()

   Num   Empty     Wet    105C     550C   1000C  Unnamed: 6 Unnamed: 7
0    1  4.5581  5.7046  4.8539  4.64590  4.6451         NaN        NaN
1    2  6.0636  6.8480  6.2318  6.09160  6.0900         NaN        NaN
2    3  4.3505  4.8886  4.4667  4.37480  4.3728         NaN     5-51cm
3    4  4.8683  5.2294  4.9396  4.88060  4.8809         NaN        NaN
4    5  5.3771  5.9840  5.5150  5.34189  5.4194         NaN        NaN

In [69]:
WL4 = LabDataWL4a
WL4.head()

   Num   Empty     Wet    105C    550C   1000C  Unnamed: 6 Unnamed: 7
0    1  4.4990  5.2421  4.7189  4.5181  4.5172         NaN        NaN
1    2  5.9866  6.6951  6.1841  6.0040  6.0032         NaN     2-42cm
2    3  4.2969  5.2410  4.5078  4.3664  4.3675         NaN        NaN
3    4  4.8050  5.5610  4.9540  4.8146  4.8131         NaN        NaN
4    5  5.3057  6.0431  5.4030  5.3168  5.3159         NaN        NaN

In [70]:
pieces5 = [LabDataWL5a, LabDataWL5b, LabDataWL5c]
WL5 = pd.concat(pieces5)
WL5.head()

   Num   Empty     Wet    105C    550C   1000C  Unnamed: 6 Unnamed: 7
0    1  4.4983  5.5914  4.6364  4.5184  4.5182         NaN        NaN
1    2  5.9860  7.4326  6.1553  5.0041  6.0028         NaN     3-42cm
2    3  4.2962  6.3133  4.6370  4.4221  4.4190         NaN        NaN
3    4  4.8042  7.1530  5.7472  5.5349  5.5314         NaN        NaN
4    5  5.3054  8.0300  5.5701  6.3646  6.3491         NaN        NaN

In [71]:
import plotly.plotly as py
import plotly.graph_objs as go

In [72]:
import plotly 
plotly.tools.set_credentials_file(username='akell47', api_key='vk5wgdfotc')

py.sign_in("akell47", "vk5wgdfotc")

In [77]:
y0a = WL3.Wet
y0b = WL3.Dry
y1 = WL4.Wet
y2 = WL5.Wet

A = go.Box(
    y = y0,
    name = 'Sample: Wet',
    marker = dict(
        color = 'rgb(214, 12, 140)',
    )
    y = y0b,
    name = 'Sample: WL3 105C'
)
B = go.Box(
    y = y1,
    name = 'Sample: WL4',
    marker = dict(
        color = 'rgb(0, 128, 128)',
    )
)
C = go.Box(
    y = y2,
    name = 'Sample: WL5',
    marker = dict(
        color = 'rgb(50, 30, 110)'
    )
)
data = [A, B, C]
py.iplot(data)