In [1]:
import pandas as pd

In [2]:
INC = pd.read_csv('Data/Incidents.csv')
INC.head()

C:\Users\Amber\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,FID,Join_Count,TARGET_FID,Join_Cou_1,TARGET_F_1,incident_i,case_numbe,incident_d,incident_t,...,MAX_TEMPERATUREF,MEAN_TEMPERATUREF,PRECIPITATIONIN,EVENTS,MEAN_VISIBILITYMILES,CityName,IncidentGroup2,Weatherstr,weatherEventGroup,ZoningGroup
0,0,0,1,0,1,1,787108492,59881,12/30/2016 01:49:00 PM,INFORMATION REPORT,...,50.0,41.0,0.00,NaN,10.0,DUNWOODY,Other,NaN,NaN,Office
1,1,1,1,1,1,2,787300346,59906,01/01/2017 01:00:00 AM,INFORMATION REPORT,...,NaN,NaN,NaN,NaN,NaN,DUNWOODY,Other,NaN,NaN,Office
2,2,2,1,2,0,3,787147954,59892,12/31/2016 02:12:00 AM,FAMILY OFFENSE-NO VIOLENCE,...,47.0,38.0,0.17,Rain,9.0,DUNWOODY,Family Offense,Rain,Rain,
3,3,3,1,3,0,4,787174660,59898,12/31/2016 09:39:00 AM,SPEEDING,...,47.0,38.0,0.17,Rain,9.0,DUNWOODY,Traffic,Rain,Rain,
4,4,4,1,4,0,5,762180594,54597,06/13/2016 06:07:00 PM,FAIL TO YIELD TURNING LEFT,...,99.0,87.0,0.00,NaN,10.0,DUNWOODY,Traffic,NaN,NaN,