# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [2]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..', 'assets', 'dataset', 'ozone.csv'))

In [3]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [5]:
data.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Temp         int64
Month        int64
Day          int64
dtype: object

In [17]:
list(data.columns.values)

['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day']

In [18]:
data.columns.tolist()

['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day']

In [43]:
ColumnList = data.columns.tolist()

for header in ColumnList:
    print header

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [8]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [9]:
data.shape

(153, 6)

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [12]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [14]:
data47 = data[data.index == 47].Ozone
print data47

47    37.0
Name: Ozone, dtype: float64

How many missing values are in the Ozone column of this data frame?

In [15]:
data.count()

Ozone      116
Solar.R    146
Wind       153
Temp       153
Month      153
Day        153
dtype: int64

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [97]:
notNullOzone = pd.notnull(data.Ozone)
# print notNullOzone
totalOzone = sum(notNullOzone)
print totalOzone
print notNullOzone.mean()
print data.Ozone.mean()

116
0.758169934641
42.1293103448

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [12]:
# ozoneAbove31 = data.Ozone >= 31
# print ozoneAbove31
# tempAbove90 = data.Temp <= 90
# # print tempAbove90
Ozone = data.Ozone > 31
Temp = data.Temp > 90
notNullSolar = pd.notnull(data["Solar.R"])
totalSolar = sum(notNullSolar)
print totalSolar

dataForSolar = data[(data.Ozone > 31) & (data.Temp > 90)]

meanSolar = dataForSolar["Solar.R"].mean()
print meanSolar


print data[(data.Ozone > 31) & (data.Temp > 90)]["Solar.R"].mean()

146
212.8
212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [14]:
print data[data.Month == 6].Temp.mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [15]:
print data[data.Month == 5].Ozone.max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas