# for loops are so 2016

some List Comprehension examples from a few resources.<br/>
 * https://www.youtube.com/watch?v=3dt4OGnU5sM
 * https://www.youtube.com/watch?v=VBokjWj_cEA
 * http://treyhunner.com/2015/12/python-list-comprehensions-now-in-color/

In [1]:
nums = [1,2,3,4,5,6,7,8,9,10]

start with a a list of numbers

In [2]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
import numpy as np

In [4]:
randomNums = np.random.randint(0, 10, 10)
print randomNums
# different set everytime!

[6 9 1 0 0 8 8 4 9 5]

some random numbers - use numpy.random.randint(start, end, howmany) <br/>
first you have to import the numpy library

#### first example put your set of numbers into another list

the "bad" way

In [6]:
a_list = []
for n in nums:
    a_list.append(n)
    
print a_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list comp looks cleaner is easier to read so they say. Notice that you don't need `.append` and don't neeed to set a initalize an empty list.

In [7]:
a_list = [n for n in nums]
print a_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### another example with `n*n`

the bad way

In [5]:
a_list2 = []
for n in nums:
    a_list2.append(n * n)
print a_list2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

the good way:

see the *action* of `n * n` comes first then for each thing in your list of things all enclosed with `[]`

In [10]:
a_list2 = [n * n for n in nums]
print a_list2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

map lambda way

In [11]:
a_list2 = map(lambda n: n * n ,nums)
print a_list2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### print number for each number if number is even

the bad way

In [12]:
a_list3 = []
for n in nums:
    if n % 2 == 0:
        a_list3.append(n)
print a_list3

[2, 4, 6, 8, 10]

the good way: list comprehension

first part is what you want to return n, but the condition of the even numbers is with the if statement. Kinda like the WHERE in SQL

In [14]:
a_list3 = [n for n in nums if n % 2 == 0]
print a_list3

[2, 4, 6, 8, 10]

filter lambda way:

filter - pretty neat

In [ ]:
a_list3lambda = filter(lambda n: n % 2 == 0, nums)
print a_list3lambda

#### print letter number pair in "abcd" and "1234" (all possible pairs)

bad for loop many line way

In [15]:
a_list4 = []
for letter in "abcd":
    for num in range(1,5):
        a_list4.append((letter,num))
print a_list4

[('a', 1), ('a', 2), ('a', 3), ('a', 4), ('b', 1), ('b', 2), ('b', 3), ('b', 4), ('c', 1), ('c', 2), ('c', 3), ('c', 4), ('d', 1), ('d', 2), ('d', 3), ('d', 4)]

list comp way: <br/>
want a letter and number pair for each abcd and with numbers from 1 to 5 <br/>
range works like range(start, end) but end is the number before

In [6]:
a_list4 = [(letter, number) for letter in "abcd" for number in range(1,6)]
print a_list4

[('a', 1), ('a', 2), ('a', 3), ('a', 4), ('a', 5), ('b', 1), ('b', 2), ('b', 3), ('b', 4), ('b', 5), ('c', 1), ('c', 2), ('c', 3), ('c', 4), ('c', 5), ('d', 1), ('d', 2), ('d', 3), ('d', 4), ('d', 5)]

### alright a step up - Dictionary Comprehension

superheroes!

**--The Dictionary--**

In [7]:
names = ["Bruce", "Clark", "Peter", "Logan", "David"]
heroes = ["Batman", "Superman", "Spiderman", "Wolverine", "Hulk"]
ages = [55, 200, 22, 1000, 40]
print zip(names, heroes, ages)
# zip!!!

[('Bruce', 'Batman', 55), ('Clark', 'Superman', 200), ('Peter', 'Spiderman', 22), ('Logan', 'Wolverine', 1000), ('David', 'Hulk', 40)]

In [8]:
df = zip[names, heroes, ages]
print df
# how do I turn a dictionary into a Data Frame??

TypeError: 'builtin_function_or_method' object has no attribute '__getitem__'

the bad way:

In [9]:
a_dictionary = {}
for name, hero, in zip(names, heroes):
    a_dictionary[name] = hero
print "names heroes dictionary"
print a_dictionary

names heroes dictionary
{'Bruce': 'Batman', 'Logan': 'Wolverine', 'Peter': 'Spiderman', 'Clark': 'Superman', 'David': 'Hulk'}

Dictionary Comp notice the `{}`! this is different from list comp with lists with `[]`<br/>
* in the first part notice `*`**:**`*`  `{name : hero`
* `zip(key1, key2)}`

In [10]:
a_dictionary = {name: hero for name, hero in zip(names, heroes)}
print a_dictionary

{'Bruce': 'Batman', 'Logan': 'Wolverine', 'Peter': 'Spiderman', 'Clark': 'Superman', 'David': 'Hulk'}

can add an `if` statement to filter <br/>
here returned the age of Bruce

In [11]:
bruce_age = {name : age for name, age in zip(names, ages) if name == 'Bruce'}
print bruce_age

{'Bruce': 55}

the same thing again but with *Superhero Names* and *ages* <br/>
notice the two different to combine text and what values you are printing <br/>
* `{} with some text" then .format(funcName)` is for printing the function *within* some text 
* `some tex" then ,comma funcName` is for printing the function *after* some text. 
        * {} . format will always work

In [12]:
a_dicComp_age = {name : age for name, age in zip(names, ages)}
print "superhero ages: {}".format(a_dicComp_age)
print "superhero ages:", a_dicComp_age

superhero ages: {'Bruce': 55, 'Logan': 1000, 'Peter': 22, 'Clark': 200, 'David': 40}
superhero ages: {'Bruce': 55, 'Logan': 1000, 'Peter': 22, 'Clark': 200, 'David': 40}

## Enumerate

In [13]:
for i, name in enumerate(names):
    print(i, name)

(0, 'Bruce')
(1, 'Clark')
(2, 'Peter')
(3, 'Logan')
(4, 'David')

### More doing things to numbers

In [14]:
my_List = range(0,101)

In [15]:
print my_List

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

range works like `(start, end(n-1), step)` go from start to end by how many

In [16]:
my_List_by2 = range(0,101, 2)
print my_List_by2
# if someone asks to return a list of even values from 0 to 100 - this does it!

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

but for random numbers though...

`random.randint()`

In [17]:
random_Nums = np.random.randint(0, 101, 50)
print random_Nums

[ 89  81  17  77  69  45  47 100  50  75  28  74  59   0  66  22  44  19
  78  89  65  20  90  79 100  39  49  57   4  13  81  63  77  20  55  88
  19  35   5   5  45  44  68  13  83  79  18  29  14  33]

make functions to use again - to do do one list or to another list - to do the same action

In [18]:
def timesIT (parameter, List):
    return [parameter * num for num in List]
print timesIT(.5, my_List)

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0, 46.5, 47.0, 47.5, 48.0, 48.5, 49.0, 49.5, 50.0]

In [19]:
print timesIT(.5, my_List_by2)

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0]

In [20]:
print timesIT(.5, random_Nums)

[44.5, 40.5, 8.5, 38.5, 34.5, 22.5, 23.5, 50.0, 25.0, 37.5, 14.0, 37.0, 29.5, 0.0, 33.0, 11.0, 22.0, 9.5, 39.0, 44.5, 32.5, 10.0, 45.0, 39.5, 50.0, 19.5, 24.5, 28.5, 2.0, 6.5, 40.5, 31.5, 38.5, 10.0, 27.5, 44.0, 9.5, 17.5, 2.5, 2.5, 22.5, 22.0, 34.0, 6.5, 41.5, 39.5, 9.0, 14.5, 7.0, 16.5]

In [21]:
print timesIT(.2, my_List)

[0.0, 0.2, 0.4, 0.6000000000000001, 0.8, 1.0, 1.2000000000000002, 1.4000000000000001, 1.6, 1.8, 2.0, 2.2, 2.4000000000000004, 2.6, 2.8000000000000003, 3.0, 3.2, 3.4000000000000004, 3.6, 3.8000000000000003, 4.0, 4.2, 4.4, 4.6000000000000005, 4.800000000000001, 5.0, 5.2, 5.4, 5.6000000000000005, 5.800000000000001, 6.0, 6.2, 6.4, 6.6000000000000005, 6.800000000000001, 7.0, 7.2, 7.4, 7.6000000000000005, 7.800000000000001, 8.0, 8.200000000000001, 8.4, 8.6, 8.8, 9.0, 9.200000000000001, 9.4, 9.600000000000001, 9.8, 10.0, 10.200000000000001, 10.4, 10.600000000000001, 10.8, 11.0, 11.200000000000001, 11.4, 11.600000000000001, 11.8, 12.0, 12.200000000000001, 12.4, 12.600000000000001, 12.8, 13.0, 13.200000000000001, 13.4, 13.600000000000001, 13.8, 14.0, 14.200000000000001, 14.4, 14.600000000000001, 14.8, 15.0, 15.200000000000001, 15.4, 15.600000000000001, 15.8, 16.0, 16.2, 16.400000000000002, 16.6, 16.8, 17.0, 17.2, 17.400000000000002, 17.6, 17.8, 18.0, 18.2, 18.400000000000002, 18.6, 18.8, 19.0, 19.200000000000003, 19.400000000000002, 19.6, 19.8, 20.0]

In [22]:
print timesIT(1000, random_Nums)

[89000, 81000, 17000, 77000, 69000, 45000, 47000, 100000, 50000, 75000, 28000, 74000, 59000, 0, 66000, 22000, 44000, 19000, 78000, 89000, 65000, 20000, 90000, 79000, 100000, 39000, 49000, 57000, 4000, 13000, 81000, 63000, 77000, 20000, 55000, 88000, 19000, 35000, 5000, 5000, 45000, 44000, 68000, 13000, 83000, 79000, 18000, 29000, 14000, 33000]

Function - multiply all the numbers in your list by a parameter then filter by another parameter <br/>

In [25]:
def filtertimesIT(List, m, b):
    filterIT = [num for num in List if num > b]
    times = [m * num for num in filterIT]
    return times
print filtertimesIT(my_List, 2, 20)

[42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]